@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');


@import './reset.css';
@import './common.css';

#wrap{
  min-width: 1280px;
}
.inner{
  position: relative;
	width: 1152px;
	margin: 0 auto;
	min-width: 1152px;
}


/* 스토리 인 서울 */
#header{
	display: flex;
	flex-direction: column;
}
#header li:hover{
	color: #2292e9;
}
#header .inner{
	order: 2;
}
#header .ad-story{
	margin: 0 auto;
	order:1;
	height: 91px;
	border-bottom: 1px solid #dbdbdb;
	overflow: hidden;
}
#header .ad-story img{
	object-fit: cover;
	height: 100%;
}

#header .group-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	gap: 65px;
}
#header .group-header .logo{
	display: flex;;
	margin-top: -10px;
}
#header .group-header .logo a{
	width: 105px;
	height: 27px;
	background-position: -5px -165px;
}

#header .gnb-area{
	flex: 1;
}
#header .gnb-list{
	display: flex;
	flex: 1;
	gap: 20px;
}
#header .gnb-item a{
	font-size: 16px;
	font-weight: 700;
	line-height: 48px;
}

#header .util-area{
	margin-right: 10px;
}
#header .util-list{
	display: flex;
	gap: 20px;
}
#header .util-item{
	font-weight: 700;
}

/* 검색 */
#header .group-bottom{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 120px;
	gap: 20px;
	position: relative;
}
#header .group-bottom .link-main{	
	width: 133px;
	height: 51px;
}

#header .search-area{
	padding-left: 75px;
}
#header .search-form{
	width: 520px;
	height: 42px;
	border: 3px solid #2292e9;
}
#header .search-form fieldset{
	display: flex;
	align-items: center;
	gap: 10px;
	padding-right: 3px;
}
#header .search-form .input-text{
	font-size: 14px;
	color: #767676;
	width: calc(100% - 42px);
	padding: 0 10px;
	height: 38px;
	line-height: 38px;
}
#header .search-form .input-text::placeholder{
	color: #2292e9;
}
#header .search-form .btn-keyboard{
	width: 29px;
	height: 16px;
	margin-top: -2px;
	background: url(../images/icons/keyboard.png) no-repeat center / 100%;
}
#header .search-form .btn-submit{
	width: 36px;
	height: 36px;
	background-position: -32px -99px;
}

#header .weather-area{
	display: flex;
	align-items: center;
	height: 85px;
}

#header .weather-area .icon-wrap{
	width: 58px;
	height: 47px;
}
#header .weather-area .info-wrap > a{
	display: flex;
	flex-direction: column;
	gap: 7px;
}
#header .weather-area .temp-box .temp{
	font-size: 25px;
	font-weight: 700;
	margin-right: 10px;
}
#header .weather-area .temp-box .status{
	font-size: 16px;
	letter-spacing: -0.1em;
}

#header .weather-area .dust-box{
	font-size: 13px;
	letter-spacing: -1.5px;
}
#header .weather-area .dust-box .status{
	font-size: 14px;
}
#header .weather-area .dust-box .status.good{
	color: #0D6EFD;
}
#header .weather-area .dust-box .status.average{
	color: #26890C;
}
#header .brand-area a{
	display: block;
	width: 74px;
	height: 47px;
}
#header .language-area{
	display: flex;
	height: 21px;
	position: absolute;
	top: 0;
	right: 0;
}
#header .language-area select{
	width: 80px;
	border-color: #afcfea;
	color: #1E6CB3;
	font-size: 12px;
	line-height: 21px;
	appearance: none;
	padding-left: 2px;
	background: url(../images/select-arrow.png) no-repeat no-repeat 96% center;
	background-size: 8px auto;
}
#header .language-area .btn-lang{
	width: 30px;
	font-size: 11px;
	color: #fff;
	background-color: #1E6CB3;
}

/* footer */
#footer{
	margin-top: 20px;
}
#footer .group-link{
	height: 50px;
	display: flex;
	align-items: center;
}
#footer .ft-list{
	display: flex;
	gap: 10px;
}
#footer .ft-item a{
	font-size: 12px;
  color: #636363;
	display: flex;
	align-items: center;
	gap: 10px;
}
#footer .ft-item+.ft-item a::before{
	content: '';
	width: 1px;
	height: 14px;
	background: #dcdcdc;
}
#footer .group-link a >em{
	color: #000;
	font-weight: 700;
}
#footer .ft-kakao a{
	display: block;
	width: 114px;
	height: 24px;
	background: url(../images/icons/ico-sns-pc.png) no-repeat 0 -30px;
}
#footer .group-copy{
	padding: 22px 0;
	border-top: 1px solid #ccc;
	display: flex;
}
#footer .group-copy .info-area{
	margin-right: 40px;
	width: 108px;
	height: 45px;
	background-position:-180px 0;
}
#footer .group-copy .addr-area{
	flex: 1;
	display: flex;
	justify-content: space-between;
}
#footer .group-copy .addr-box{
	color: #636363;
  font-size: 12px;
}
#footer .group-copy .addr{
	padding-bottom: 2px;
}
#footer .group-copy .copy{
	font-size: 11px;
}
